.app {
    background: #f1f1f1;
    font-family: 'Merriweather Sans', sans-serif;
    display: grid; /*el grid se utiliza para poder manejar el area completa en bloques*/
    grid-template-areas: /* con este se utiliza para definir las areas que se vana trabajar*/
    "encabezado"
    "contenido"
    "rodapie";  
    grid-template-columns: auto; /*aqui se define el tamaño de las columnas*/
    grid-template-rows:  50px 100vh auto; /* se define el area de las filas,y se separa con "espacios" las medidas de cada area especificada anteriormente*/
}

.encabezado {

    grid-area: encabezado; /*se determian el nombre del bloque*/
    
}
.contenido {

    grid-area: contenido;
}

.rodapie { 

    grid-area: rodapie;
}